.activities-img{
    /* width:20%;
    height:20%; */
    padding:13px;
    width: 133px;
    margin: 10px auto;
    display: block;
}

.activities-a{
    color: #000;
    text-decoration: none;
    text-align: center;
    display: block;
}

.links-a{
    color: #000;
    text-decoration: none;
    text-align: center;
    display: block;
}

.text-dark{
    font-size: 1.0em;
}

.brief-intro-p{
    font-size: 0.9em;
    padding-top: 8px;
}
.brief-intro-div{
    font-size: 0.8em;
}